<div>
  <video #videoPlayer controls (click)="toggleVideo()" src="http://media.crave.fm:1935/vod/mp4:WhatIsThisThingCalledLove.mp4/manifest.mpd"></video>

  <!--<video data-dashjs-player autoplay controls>-->
    <!--<source src="http://media.crave.fm:1935/vod/mp4:sample.mp4/manifest.mpd" />-->
  <!--</video>-->
  <!--<video #videoPlayer data-dashjs-player  (click)="toggleVideo()" src="http://media.crave.fm:1935/vod/mp4:WhatIsThisThingCalledLove.mp4/manifest.mpd" controls></video>-->
  <!--<video id="videoPlayer" data-dashjs-player autoplay src="http://media.crave.fm:1935/vod/mp4:WhatIsThisThingCalledLove.mp4/manifest.mpd" controls></video>-->
  <!--<audio data-dashjs-player autoplay src="http://media.crave.fm:1935/vod/mp3:TIAr0000000196Al0000000001So0000006243.mp3/manifest.mpd" controls></audio>-->

</div>

